<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="color: blue; cursor: pointer" (click)="getAll()">seances</a>
          </li>
          <li *ngIf="groupe" class="breadcrumb-item active"
              aria-current="page">{{groupe?.name}}</li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <button type="button" (click)="export()" class="btn float-right btn-light">export</button>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control form-control-alternative" (ngModelChange)="filterByGroup($event)"
                [(ngModel)]="groupe">
          <option selected [ngValue]="null">filter by group</option>
          <option *ngFor="let g of groupes" [ngValue]="g">{{g?.name}}</option>
        </select>
      </div>
    </div>


    <div id="print" class="col-md-12 bg-white">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

  </div>
</div>
<app-create-schedule *ngIf="showEdit"></app-create-schedule>
