<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 mb-4 col-lg-12">
          <div class="row">
            <div class="col-xl-12 mb-4 col-lg-12">
              <button type="button" (click)="openNewSpecialty()" class="btn float-right btn-success">New Speciality</button>
            </div>

          </div>
        </div>

        <div *ngFor="let specialite of specialites"
             (click)="openUpdate(specialite)"
             class="col-xl-3 mb-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title  text-muted mb-0">{{getNumberOfTeacher(specialite)}} teachers</h5>
                  <span class="h2 text-uppercase font-weight-bold mb-0"> {{specialite?.name}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-book"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{getNumberOfGroups(specialite)}} </span>
                <span class="text-nowrap">groups</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-create-speciality *ngIf="showEdit"></app-create-speciality>
